<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Doctrine based ORM driver implementation for an xAPI repository">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="PHP-Xapi Tests Suite">
            <directory>vendor/php-xapi/*/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
